* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#carousel {
    height: 500px;
    width: 1000px;
    margin: 50px auto;
    position: relative;

}

.gallery {
    height: 100%;
}

.gallery figure {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.gallery figure.active {
    display: block;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.gallery figcaption {
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 20px;
    text-align: right;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





#carousel .bi {
    font-size: 2rem;

    color: red;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transition: 0.8s;
}

#carousel .bi:hover {
    transform: rotateX(180deg);
    transition: 1s;
    color: dodgerblue;
}

#prev {
    right: calc(100% + 30px);
}

#next {
    left: calc(100% + 30px);
}


#thumbnails {
    width: 700px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thumbnails img {
    height: 100px;
    width: 19%;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(1);
    transition: filter 0.5s, transform 0.5;
    cursor: pointer;
}

#thumbnails img:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px red;
    filter: grayscale(0);
    transform: scale(1.1);
}

#thumbnail-image img.active {
    filter: grayscale(0);
    box-shadow: 0 0 10px dodgerblue;

}